.navbar {
    width: 100%;
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }
  
  .left {
    display: flex;
  }
  
  .right {
    display: flex;
  }
  
  .right > a {
    margin-left: 10px;
  }
  
  .content {
    padding: 20px;
  }

  .disabled-link {
    pointer-events: none; 
    opacity: 0.5; 
    text-decoration: none !important; /
  }
  
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}