* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;

}

.container {
    min-width: 55em;
}

.container-login{
    width: 55em;
}

.container-signup{
    width: 55em;
}